.navbar {
  background-color: #f08403;
  height: 100px;
  border-style: none;
}

.container {
  margin-top: 20px;
  /*width: 80%;*/
}

.nav.navbar-nav li a {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}


