<ml-header></ml-header>
<!--Popular Movies-->
<div class="row">
  <div *ngFor="let movie of popularList; let i=index" class="col-md-2">
    <div *ngIf="i < 36">
      <img *ngIf="movie.poster_path" mlThumbanim (click)="onNavigate(movie)" class="animated" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
    </div>
  </div>

  <div *ngFor="let movie of popularListTwo; let i=index" class="col-md-2">
    <div *ngIf="i < 16">
      <img *ngIf="movie.poster_path" mlThumbanim (click)="onNavigate(movie)" class="animated" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
    </div>
  </div>
</div>

