.navbar {
  background-color: rgba(0,0,0,0.5);
  height: 100px;
  border-style: none;
}

.container {
  margin-top: 20px;
}

.nav.navbar-nav.special li a, li > .spc {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}
.nav.navbar-nav li a:hover {
  color: #337ab7;
}

.form-group input {
  border-style: none;
  border-radius: 0;
  color: black;
}

input[placeholder] {
  color: #c1c1c1;
}

img{
  width: 100%;
}

.thumbnail{
  border-radius: 0;
  margin: 0;
  background-color: #337ab7;
}

.panel{
  background-color: #337ab7;
  border-radius: 0;
  border-style: none;
}

.col-md-1 {
  padding: 0;
  margin: 0;
}

