.form-group input {
  border-style: none;
  border-radius: 0;
  color: black;
}

input[placeholder] {
  color: #c1c1c1;
}

.row {
  background-color: #e6e6e6;
  padding-top: 60px;
  padding-bottom: 200px;
}
