<div class="row" id="add">
  <div class="col-xs-12">
    <form id="movie-list-add" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="item-name">Sąrašo Pavadinimas</label>
          <input
            type="text"
            id="item-name"
            required class="form-control"
            [ngModel]="list.name"
            name="name">
        </div>
      </div>

      <div class="row"><div class="col-sm-5 form-group">
        <label for="movie-search">Pridėti filmą</label>
        <input
          #query
          type="text"
          (keyup)="search(query.value)"
          id="movie-search"
          class="form-control"
        >
      </div></div>

      <div class="row">
        <template [ngIf]="searchResults && searchResults.length > 0">
          <div class="panel panel-default animated fadeIn">
            <div class="panel-body">
              <div *ngFor="let movie of searchResults; let i=index" class="col-md-1">
                <div *ngIf="i < 12">
                  <img *ngIf="movie.poster_path" (click)="onNavigate(movie); clear(query)" class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>

      <div class="row">
        <template [ngIf]="items && posters && items.length > 0 && posters.length > 0" >
          <div id="posters" class="panel panel-default">
            <div class="panel-body">
              <div *ngFor="let poster of posters; let i=index" class="col-md-1">
                  <img class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{poster}}">
              </div>
            </div>
          </div>
        </template>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-primary" type="submit" *ngIf="isAdd" [disabled]="!f.valid">Sukurti</button>
          <button class="btn btn-success" type="submit" *ngIf="!isAdd" [disabled]="!f.valid">Redaguti</button>
          <button class="btn btn-danger" type="button" *ngIf="!isAdd" (click)="onDelete()">Ištrinti</button>
          <button class="btn btn-primary" type="button" *ngIf="!isAdd" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
