.form-group input {
  border-style: none;
  border-radius: 0;
  color: black;
}

#add {
  background-color: #d8d8d8;
  /*height: 600px;*/
  padding: 20px;
}

input[placeholder] {
  color: #c1c1c1;
}

label {
  /*color: #d8d8d8;*/
}

