<div *ngIf="movie && movieVideo">
  <div class="jumbotron" [ngStyle]="{'background-image': 'url(http://image.tmdb.org/t/p/original/' + movie.backdrop_path + ')'}">
    <div class="container">
      <h1>{{movie.title}}</h1>
      <h4>{{movie.runtime}} min | <small *ngFor="let genre of movie.genres">{{genre.name}} </small></h4>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>
  <div id="info" class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="navbar navbar-default">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <h4>{{movie.vote_average}} | {{movie.release_date}}</h4>
        </div>
      </div>
      <div class="col-md-2">
        <img class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="">
      </div>
      <div id="overview" class="col-md-5">
        <h4>Aprašymas</h4>
        <p>
          {{movie.overview}}

        </p>
      </div>
      <div id="video" class="col-md-5">
        <iframe width="560" height="315" [src]="createVideoLink(movieVideo.results[0].key)" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-5"></div>
    </div>
    <div class="col-md-1"></div>
  </div>




</div>

